.circles{
    margin-top: 10em;
}
.heading1{
    text-transform: uppercase;
    font-weight: 100;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 4.75;
    font-size: 18px;
}
.circles div{
    /* background-color: white; */
    border: 1px solid rgba(255, 255, 255, 0.322);
    margin-top: 4em;
    /* color: #0b0d17; */
    font-family:'Bellefair', serif;
    /* height: 60px; */
    width: 20px;
    text-align: center;
    padding: 20px 17px;
    border-radius: 180px;
    cursor: pointer;
    transition: border 0.3s ease;
}
.act{
    background-color: white;
    color: #0b0d17;

}
.circles div:hover{
    
    border: 1px solid rgb(255, 255, 255);
    transition-delay: 0.2s;

}
.sub{
    margin-left: 10em;
    width: 80%;
}
.techDetail{
    display: flex;
    margin-top: 6em;
    margin-right: 4em;
}
.techDetail img{
    margin-left: 5em;
}
.techDetail h1{
    font-size: 100px;
    font-family:'Bellefair', serif;
}
.techDetail p{
    font-size: 20px;
}
.sub2{
    display: flex;
    margin: 10em;
}
/* ---------------------------DESKTOP ----------------------------------------- */
@media only screen and (min-width: 993px) {
    .tech-main{
        background-image: url(../assets/technology/background-technology-desktop.jpg);
        height: 120vh;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
/* --------------------------- TABLET ----------------------------------------- */

@media only screen and (min-width: 601px) and (max-width: 992px) {
    .tech-main{
        background-image: url('../assets/technology/background-technology-tablet.jpg');
        height: 200vh;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .circles{
        display: flex;
        margin-left: 13em;
    }
    .circles div{
        margin-right: 3em;

    }
    .techDetail{
        flex-direction: column-reverse;
    }
    .techDetail img{
        margin-left: 2em;
    }
    .techDetail h1{
        text-align: center;
    }
    .sub2{
        flex-direction: column;
        text-align: center;
    }
}

/* --------------------------- MOBILE ----------------------------------------- */

@media only screen and (max-width: 600px){
    .tech-main{
        background-image: url('../assets/technology/background-technology-mobile.jpg');
        height: 250vh;
        width: 180%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .heading{
        font-size: 24px;
    }
    .circles{
        display: flex;
        margin-left: 8em;
    }
    .circles div{
        margin-right: 3em;
        font-size: 16px;

    }
    .techDetail{
        flex-direction: column-reverse;
    }
    .techDetail p{
        font-size: 24px;
    }
    .techDetail img{
        margin-left: -3em;
        margin-bottom: 2em;
    }
    .techDetail h1{
        text-align: center;
    }
    .sub2{
        flex-direction: column;
        text-align: center;
    }
}